.app__skills {
  width: 100%;
  flex-direction: column;
}

.app__container {
  width: 70%;
}

.app__skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .app__skills-item {
    flex-direction: column;
    text-align: center;

    margin: 1rem;

    div {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: var(--primary-color);

      img {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }
}
