.app__about {
  background-color: var(--primary-color);
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.app__bio {
  width: 40%;
  margin-top: 30px;

  .p-text {
      font-size: 1rem;
  }
  a {
    text-decoration: none;
    color: var(--accent-color-primary);
  }

  @media screen and (max-width: 900px) {
      width: 70%;
  }
}

.app__about-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  width: 200px;
  margin: 2rem;
  padding: .5rem;
  border-radius: 10px;
  

  img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}
